*{
    margin: 0;
    padding:0;
}

body{
    background-image: url('../images/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    
}

.header
{
background:#202020;
height:70px;
}

.logo
{
font-family:'typo';
font-size:45px;
color:white;
margin:15px;
}

.title{
    margin: 0 auto;
    width:100%;
    max-width: 40rem;
    font-size: 4rem;
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;}

.row{
    margin-top: 5rem;
}
.btn{
    margin-bottom: 7px;
}
.col-md-6 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.card{
    width: 90%;
    max-width: 400px;
   
   
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-top-color: rgba(225,225, 225, 0.1);
    border-bottom-color: rgba(225,225, 225, 0.1);
    border-left-color: rgba(225,225, 225, 0.1);
    border-right-color: rgba(225,225, 225, 0.1);


}

.cb1{
    background-color: linear-gradient(to right bottom,rgba(225,225, 225, 0.5),rgba(225,225, 225, 0.3));
}



